{% import "_css.html" as css %}

{% extends "_base.html" %}

{% block head %}
  {% call css::style() %}
{% endblock %}

{% block content %}

<div class="header-data">
  {% match wikimedia_url_base %}
    {% when Some with (url_base) %}
      <p><a href="{{ url_base }}/{{ slug }}">
        This page on {{ dump_name }}
      </a></p>
    {% when None %}
  {% endmatch %}

  <p>
       Namespace: "{{ namespace.name() }}" (key: {{ namespace.key() }})
  </p>
  <p>
    {% let mediawiki_id_url = format!("/{dump_name}/page/by-id/{mediawiki_id}",
                                      dump_name = self.dump_name,
                                      mediawiki_id = self.mediawiki_id) %}
    <a href="{{ mediawiki_id_url }}">
      This page by MediaWiki ID "{{ mediawiki_id }}"</a>
    |
    <a href="{{ mediawiki_id_url }}?debug=true">
      (with debug info)</a>
  </p>
  <p>
    {% let slug_url = format!("/{dump_name}/page/by-title/{slug}",
                              dump_name = self.dump_name,
                              slug = self.slug) %}
    <a href="{{ slug_url }}">
      This page by title "{{ slug }}"</a>
    |
    <a href="{{ slug_url }}?debug=true">
      (with debug info)</a>
  </p>
  <p>
    {% let store_id_url = format!("/{dump_name}/page/by-store-id/{store_id}",
                                  dump_name = self.dump_name,
                                  store_id = self.store_page_id) %}
    <a href="{{ store_id_url }}">
      This page by store page ID "{{ store_page_id }}"</a>
    |
    <a href="{{ store_id_url }}?debug=true">
      (with debug info)</a>
  </p>

{% match revision_id %}
  {% when Some with (revision_id) %}
    <p>
      Revision ID: {{ revision_id }}
    </p>
  {% when None %}
{% endmatch %}
{% match revision_parent_id %}
  {% when Some with (revision_parent_id) %}
    <p>
      Revision parent ID: {{ revision_parent_id }}
    </p>
  {% when None %}
{% endmatch %}
{% match revision_timestamp_string %}
  {% when Some with (revision_timestamp_string) %}
    <p>
      Revision timestamp: {{ revision_timestamp_string }}
    </p>
  {% when None %}
{% endmatch %}
{% match revision_text_sha1 %}
  {% when Some with (revision_text_sha1) %}
    <p>
      Revision text SHA1 (as hex): {{ revision_text_sha1.to_hex_string() }}
    </p>
    <p>
      Revision text SHA1 (as base 36): {{ revision_text_sha1.to_base36_string() }}
    </p>
  {% when None %}
{% endmatch %}

</div> {# end of div.header-data #}

<p>Wikitext:</p>
<pre><code>{{ wikitext }}</code></pre>

{% endblock %} {# End of 'content' block #}
